{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор этого проекта</h1>
  <p>
    Мои контакты: <br>
    <a href="https://github.com/iliakoll" }}>
      GitHub
    </a><br>
    <a href="https://vk.com/iliakoll" }}>
      VK
    </a><br>
    <a href="https://hh.ru/resume/660852a0ff03c30bc20039ed1f453847765664" }}>
     Резюме HH.ru
    </a><br>
    Почта: iliakoll@yandex.ru<br>
    Телефон: +79375520106<br>
  </p>
  <p>
    Меня зовут Илья, с 2016 года работаю геодезистом в стротительстве.<br>
    Моя работа всегда в командировках, которые изрядно мне поднадоели.<br>
    Это мой первый проект(хоть и учебный) и безумно интересно
    изучать как это всё работает, жалею только что не занялся этим раньше.<br>
    На смену профессии решился потому как всегда был гиком, хотелось быть
    ближе к сфере програмирования и видя потребность в IT решился 
    пойти на курсы.<br> Сначала скептически относился ко всем курсам, 
    но почитав отзывы и посмотрев 
    блоги на ютубе людей которые после курсов нашли работу в этой сфере 
    я решился. Огромным плюсом была поддержка родных и друзей которые сказали 
    что у меня точно получится.
  </p>
{% endblock %}