{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          SQLite
        </li>
        <li class="list-group-item">
          HTML & CSS
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Проект писался в VS Code<br>
        Хорошо далась тема с Django и в целом Python не сложный язык.<br>
        Базы данных усвоились хорошо, 
        как в "сыром" виде так и в связке с django.<br>
        Есть трудности с декораторамми, но думаю это ненадолго
      </p>
    </article>
  </div>
{% endblock %}