{% extends 'base.html' %}
{% block title %}Ваша лента{% endblock %}
{% block content %}
  <h1><span style="color:red">В</span>аша лента</h1>
  {% include 'posts/includes/switcher.html' %}
  {% for post in page_obj %}
    <article>
      {% include 'posts/includes/post.html' %}
      <a href="{% url 'posts:post_detail' post.pk %}"
        >подробная информация 
      </a><br>
      {% if post.group %}   
        <a
          href="{% url 'posts:group_list' post.group.slug %}"
          >все записи группы
        </a>
      {% endif %}
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}